@page "/projects"

<br /><br /><center><h1>Projects</h1></center>
<div class="projs">
    <div class="proj">
        <div>
            <img src="assets/myshort.png" />
            <a href="https://www.myshort.it" target="_blank">https://www.myshort.it</a>
        </div>
        <p>MyShort.it is an online Url-Shortener advanced service. It allows a company to track its users' short links by providing advanced analytics, data, graphs and more. It's written in PHP with MySQL as DBMS. Some of the things that MyShort can do are company management, user management, short links management, statistics, payments, invoices, newsletters, SEO, etc.</p>
    </div>
    <div class="proj">
        <div>
            <img src="assets/socialup.png" />
            <a href="https://www.socialup.it" target="_blank">https://www.socialup.it</a>
        </div>
        <p>SocialUp.it is an Italian magazine of lifestyle, fashion, trends, arts, etc. It was founded back in 2015 by Andrea Calabrò and, since that moment, I am responsible for the technical part. Currently, I manage a set of virtual machines in Microsoft Azure. The environment is LAMP (Linux Apache MySQL PHP) because the engine of the blog is WordPress. I realized several custom widgets and plugins for SocialUp and I improved my knowledge of the Open Source world and Linux scripting.</p>
    </div>
    <div class="proj">
        <div>
            <img src="assets/azurehead.png" />
            <a href="https://www.azurehead.com" target="_blank">https://www.azurehead.com</a>
        </div>
        <p>AzureHead.com is my brand new technical blog where I write posts about Microsoft Technologies. I am a Consultant Software Engineer, so I write about what I love the most and what I learn during my day-to-day work. From web development to desktop applications, from Azure to Blazor, from Security to Microsoft Certifications: everything that I am passionate about :-)</p>
    </div>
    <div class="proj">
        <div>
            <img src="assets/cv.png" />
            <a href="https://resume.azurehead.com" target="_blank">https://resume.azurehead.com</a>
        </div>
        <p>This CV is a project. Yes :-) I developed this nerdy Resume this summer as a project that I brought for an interview with Facebook in Dublin. I developed two versions of the CV: one in Angular and the last one in Blazor.</p>
    </div>
</div>